html,
body {
	position: relative; 
	height: 100%;
}

#about {
	background-image: url("../assets/img/jump.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;	
}
#skills {
	background-image: url("../assets/img/street.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#portofolio {
	background-image: url("../assets/img/laptop.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
}
#contact {
	background-image: url("../assets/img/path.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
}